.vs-shopping-list {
	width: 100%;
}

.vs-vinyl-list {
	list-style-type: none;
	padding: 32px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.vs-sales {
	position: absolute;
	left: 0px;
	top: 0px;
	font-weight: 700;
	color: white;
	padding: 15px;
	background-color: #9b4646;
	border-radius: 20px 0px;
}